body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  background: url(wood.jpg)no-repeat;
  background-size: 1600px;
                background-position: center center;
                background-attachment: fixed;
}

#wrapper 
{
  width: 960px;
  margin: 20px auto;
}

p {
  line-height: 26px;
}

li {
  line-height: 26px
  color:white;
}

a:hover {
  color: purple;
}

#footer{
                color: white;
                margin: 20px auto;
                padding: 20px;
                text-align: center;
}

h1 {
  color:white;
}